{{ if eq .chezmoi.hostname "blocky" -}}
#!/bin/bash

sudo echo "nameserver 1.1.1.1" | sudo tee /etc/resolv.conf

bash ~/bin/blocky_restore.sh

# run blocky
cd ~/blocky
sudo echo "nameserver 1.1.1.1" | sudo tee /etc/resolv.conf
docker-compose up -d

sudo reboot
{{ end -}}