# shellcheck shell=bash

if command -v nvim &>/dev/null; then
	# Use Neovim as the default editor
	export EDITOR=nvim
	export VISUAL=nvim

fi

# asdf
export PATH="$HOME/bin:$PATH"
export ASDF_DATA_DIR=$HOME/.asdf
export PATH="$ASDF_DATA_DIR/shims:$ASDF_DATA_DIR/bin:$PATH"
