{{ range .asdf.tools -}}
{{ if hasKey . "hosts" -}}
{{ if has $.chezmoi.hostname .hosts -}}
{{ .name }} {{ index .versions 0 }}
{{ end -}}
{{ else -}}
{{ .name }} {{ index .versions 0 }}
{{ end -}}
{{ end -}}