{{- if eq .chezmoi.os "linux" -}}
{{- if not eq .chezmoi.osRelease.id "nixos" -}}

#!{{ lookPath "bash" }}

{{ $asdf_basepath := joinPath .chezmoi.homeDir ".asdf" | default "$HOME/.asdf" -}}
{{ $asdf_bin :=  lookPath  "asdf" | default (joinPath $asdf_basepath "bin" "asdf")  -}}

# function install_asdf

function install_asdf() {
	mkdir -p {{ joinPath $asdf_basepath "bin" }}
  base_url="https://github.com/asdf-vm/asdf/releases/download/"
    rm -f asdf-v{{ .asdf.version }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz*
    wget "${base_url}v{{ .asdf.version }}/asdf-v{{ .asdf.version }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz"
    tar -xvzf asdf-v{{ .asdf.version }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz -C {{ $asdf_basepath }}/bin
# clean up
    rm -f asdf-v{{ .asdf.version }}-{{ .chezmoi.os }}-{{ .chezmoi.arch }}.tar.gz*
    export ASDF_DATA_DIR={{ .chezmoi.config.destDir }}/.asdf
    export PATH="$ASDF_DATA_DIR/shims:$ASDF_DATA_DIR/bin:$PATH"
}

# install asdf
{{- if ( $asdf_basepath) | not }}
	mkdir -p {{ $asdf_basepath }}
{{-   if not (lstat $asdf_basepath) }}
{{-     warnf "failed to create directory %s" $asdf_basepath }}
{{-   end -}}
{{- end -}}

{{- if not (and (lstat $asdf_bin) (isExecutable $asdf_bin)) }}
	install_asdf
{{- else }}
{{- /* if asdf version is not the right one then install asdf */ -}}
{{-   if not (eq (list "v" $.asdf.version | join "") (splitList " " (output $asdf_bin "version" ) | first)) }}
	install_asdf
{{-   else }}
	echo "asdf is already installed and up to date"
{{-   end -}}
{{- end -}}

{{- end -}}
{{- end -}}
