{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

{{ if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") ) -}}
sudo apt update
sudo apt upgrade -y

sudo apt install -y {{ range .packages.debian.apt }}{{ . | quote }} {{ end }}

sudo apt autoremove -y

{{ end -}}

{{ end -}}