{{- if eq .chezmoi.os "linux" -}}
#!{{ lookPath "bash" }}

{{ $asdf_basepath := joinPath .chezmoi.homeDir ".asdf" -}}
{{ $asdf_bin :=  lookPath  "asdf" | default (joinPath $asdf_basepath "bin" "asdf")  -}}

{{ if  and (lstat $asdf_bin) (isExecutable $asdf_bin) }}

{{- $current_versions := dict -}}
{{- range output "sh" "-c" (join " " (list  $asdf_bin "current" "--no-header" "|| true")) | splitList "\n" | compact -}}
{{-   $tool := splitList " " . | first -}}
{{-   $version := splitList " " . | compact | rest | first -}}
{{-   $_ := set $current_versions $tool $version -}}
{{- end -}}

{{ $asdf_bin }} plugin update --all
{{ $plugins := output "sh" "-c" (join " " (list  $asdf_bin "plugin" "list" "|| true")) | splitList "\n" | compact -}}

{{- range .asdf.tools -}}
{{-   $install := true -}}
{{-   if hasKey . "hosts" -}}
{{-     $install = (has $.chezmoi.hostname .hosts) -}}
{{-   end -}}

{{-   if $install -}}
{{-     $tool_name := .name -}}

{{- /* install plugins */ -}}
{{-     if has $tool_name $plugins | not }}
		  echo "installing {{ $tool_name }} plugin"
		  {{ $asdf_bin }} plugin add {{ $tool_name }} {{ if hasKey . "plugin_url" }}{{ .plugin_url | quote }}{{- end -}}
{{-     end -}}

{{- /* install versions if not already installed */ -}}
{{-     range .versions -}}
{{-       if eq (get $current_versions $tool_name) . | not }}
		  {{ $asdf_bin }} install {{ $tool_name }} {{ . }}
{{-       end -}}
{{-     end -}}

{{- /* cleanup old versions */ -}}

{{-     $versions := .versions }}
{{-       range output "sh" "-c" (join " " (list  $asdf_bin "list"  $tool_name  "|| true" )) | splitList "\n" | compact | default (list) -}}
{{-         $version := .  | trim | trimPrefix "*" -}}
{{-         if has $version $versions | not }}
				echo "found installed version {{ $version }} for {{ $tool_name }} !" 
				echo "removing {{ $tool_name }} {{ $version }}"
				{{ $asdf_bin }} uninstall {{ $tool_name }} {{ $version }}
{{-         end -}}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{- $asdf_tools := .asdf.tools | jq ".[] | .name" -}}
{{- range keys $current_versions }}
{{-   $tool := . -}}
{{-   if has $tool $asdf_tools | not }}
{{-     range output "sh" "-c" (join " " (list  $asdf_bin "list"  $tool  "|| true" )) | trim | trimPrefix "*" | splitList " " | compact }}
			echo "found installed tool {{ $tool }} with version {{ . }} but it's not in the list of tools to install, removing it"
			{{ $asdf_bin }} uninstall {{ $tool }} {{ . }}
{{-     end -}}
{{-   end -}}
{{- end -}}

{{- /* cleanup plugins that are not in the list of tools to install */ -}}
{{- range $plugins }}
{{-   if has . $asdf_tools | not }}
		echo "found installed plugin {{ . }} but it's not in the list of tools to install, removing it"
		{{ $asdf_bin }} plugin remove {{ . }}
{{-   end -}}
{{- end -}}

{{- end -}}
{{- end -}}