{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

ssh-keyscan github.com >> ~/.ssh/known_hosts 2>/dev/null && \
ssh-keyscan gitlab.com >> ~/.ssh/known_hosts 2>/dev/null && \
ssh-keyscan bitbucket.org >> ~/.ssh/known_hosts 2>/dev/null


{{ end -}}