{{ if eq .chezmoi.os "linux" -}}
{{- if (or (eq .chezmoi.osRelease.id "debian") (eq .chezmoi.osRelease.id "ubuntu") ) -}}
#!{{ lookPath "bash" }}

sudo apt update
sudo apt upgrade -y

sudo apt install -y {{ range .packages.debian.apt }}{{ . | quote }} {{ end }}

{{- if hasKey .packages.debian.hosts .chezmoi.hostname }}

sudo apt install -y {{ range (index .packages.debian.hosts .chezmoi.hostname) }}{{ . | quote }} {{ end }}

{{- end }}

sudo apt autoremove -y

{{ end -}}
{{ end -}}