{{- if eq .chezmoi.os "windows" -}}
if (-Not (Test-Path "{{ .chezmoi.homeDir }}\.config\chezmoi\key.txt")) {
    chezmoi age decrypt --output "{{ .chezmoi.homeDir }}\.config\chezmoi\key.txt" --passphrase "{{ .chezmoi.homeDir }}\.config\chezmoi\key.txt.age"
    icacls "{{ .chezmoi.homeDir }}\.config\chezmoi\key.txt" /inheritance:r /grant:r "$($env:USERNAME):(F)" | Out-Null
}

{{- end -}}