{{- if eq .chezmoi.os "linux" -}}
#!/bin/sh

keyPath="{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt"
keyPassphrasePath="{{ .chezmoi.homeDir }}/.config/chezmoi/key.txt.age"

# Decrypt and set up the chezmoi age key only if it doesn't exist
if [ ! -f "$keyPath" ]; then
	{{ if not (has .chezmoi.osRelease.id .homeManagerManagedDistros) }}
	# Use chezmoi's decrypt on non-HomeManager systems
	chezmoi age decrypt --output "$keyPath" --passphrase "$keyPassphrasePath"
	chmod 600 "$keyPath"
	{{ else }}
	# Use nix age on HomeManager-managed systems (nixos, glfos, ...)
	nix run nixpkgs#age -- -d "$keyPassphrasePath" > "$keyPath"
	{{ end }}
fi
{{- end -}}
