#[include shell_command.cfg]
[include kiauh_macros.cfg]

[include generic.cfg]

[include macros.cfg]

[include songs.cfg]

[include menu.cfg]

[include screen.cfg]

[include adxl.cfg]

[include calibration.cfg]

[include bltouch.cfg]

[include machine.cfg]
[include variables_user.cfg]

#[include test.cfg]
[include sound.cfg]
[include songs.cfg]
[include variables_internal.cfg]
[include extruders.cfg]
[include slicer_calls.cfg]

[include TEST_SPEED.cfg]
[include timelapse.cfg]

[exclude_object]

[firmware_retraction]
retract_length: 1.2
retract_speed: 40
unretract_extra_length: 0
unretract_speed: 30

[gcode_arcs]
#resolution: 1.0
#   An arc will be split into segments. Each segment's length will
#   equal the resolution in mm set above. Lower values will produce a
#   finer arc, but also more work for your machine. Arcs smaller than
#   the configured value will become straight lines. The default is
#   1mm.

# From reddit for Ender 3
# https://www.reddit.com/r/klippers/comments/9tu2ib/config_file_for_modded_ender_3/
[homing_override]
set_position_z:6
axes: z
gcode:
        G90
        G1 Z10 F6000
        G28 X Y
        G1 X160.5 Y108 F6000
        G28 Z0
        G1 X160.5 Y108 Z10


# This file contains all settings for KAMP, and must be included in printer.cfg with:

[include KAMP_Settings.cfg]

### The following [includes] can be uncommented from within KAMP_Settings.cfg. ###

#[autotune_tmc stepper_x]
#motor: creality-42-34

#[autotune_tmc stepper_y]
#motor: creality-42-34

#[autotune_tmc stepper_z]
#motor: creality-42-34

#[autotune_tmc extruder]
#motor: creality-42-40

#[autotune_tmc extruder1]
#motor: omc-17hs19-2004s1

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 1.854
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 27.247
#*# pid_ki = 1.397
#*# pid_kd = 132.832
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.666
#*# pid_ki = 1.223
#*# pid_kd = 936.323
#*#
#*# [input_shaper]
#*# shaper_type_y = mzv
#*# shaper_freq_y = 39.2
#*# shaper_type_x = mzv
#*# shaper_freq_x = 83.0
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	-0.069167, -0.046667, -0.022500, -0.075000, -0.041667
#*# 	-0.074167, -0.030833, 0.010000, -0.021667, -0.021667
#*# 	-0.060000, -0.057500, -0.020833, -0.015000, 0.012500
#*# 	-0.044167, -0.005833, -0.006667, -0.033333, 0.037500
#*# 	-0.034167, -0.015833, 0.030833, -0.035833, 0.016667
#*# tension = 0.2
#*# min_x = 68.27499999999998
#*# algo = lagrange
#*# y_count = 5
#*# mesh_y_pps = 3
#*# min_y = 66.35499999999999
#*# x_count = 5
#*# max_y = 152.07500000000002
#*# mesh_x_pps = 3
#*# max_x = 152.71499999999997
