KLIPPER_ARGS="{{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}klipper{{ .chezmoi.pathSeparator }}klippy{{ .chezmoi.pathSeparator }}klippy.py {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}printer_data{{ .chezmoi.pathSeparator }}config{{ .chezmoi.pathSeparator }}printer.cfg -I {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}printer_data{{ .chezmoi.pathSeparator }}comms{{ .chezmoi.pathSeparator }}klippy.serial -l {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}printer_data{{ .chezmoi.pathSeparator }}logs{{ .chezmoi.pathSeparator }}klippy.log -a {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}printer_data{{ .chezmoi.pathSeparator }}comms{{ .chezmoi.pathSeparator }}klippy.sock"
