TELEGRAM_BOT_ARGS="{{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}moonraker-telegram-bot{{ .chezmoi.pathSeparator }}bot{{ .chezmoi.pathSeparator }}main.py -c {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}printer_data{{ .chezmoi.pathSeparator }}config{{ .chezmoi.pathSeparator }}telegram.conf -l {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}printer_data{{ .chezmoi.pathSeparator }}logs{{ .chezmoi.pathSeparator }}telegram.log"
