MOONRAKER_ARGS="{{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}moonraker{{ .chezmoi.pathSeparator }}moonraker{{ .chezmoi.pathSeparator }}moonraker.py -d {{ .chezmoi.homeDir }}{{ .chezmoi.pathSeparator }}printer_data"
